* {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  width: 30%;
  margin: auto;
  margin-top: 10vw;
}

.container h2 {
  color: rgb(70, 70, 70);
}

.container fieldset {
  border: 0.2vw solid rgb(70, 70, 70);
}

.container legend {
  font-size: 3vw;
  color: rgb(70, 70, 70);
}

.container .formContainer {
  text-align: center;
  margin: 5vh 0;
} 

.container input {
  width: 50%;
  font-size: 1.4vw;
  border: none;
  margin-bottom: 5vh;
  border-bottom: 0.2vh solid rgb(70, 70, 70);
}

input:focus , button:focus {
  outline: none;
}

.loginBtn {
  font-size: 1.3vw;
  font-weight: 500;
  margin: 2vh 0;
  padding: 1vh 1.5vw;
  border: 0.1vw solid rgb(70, 70, 70);
  color: white;
  background-color: rgb(70, 70, 70);
  letter-spacing: 0.1vw;
}

.loginBtn:hover {
  background-color: white;
  font-weight: 600;
  color: rgb(70, 70, 70);
}